<nav class="grey darken-3 white-text">
  <div class="nav-wrapper container">

    <a
      href="/dashboard"
      style="color: white;"
      class="brand-logo size-reduce"
    ><img src="../images/cover.png" alt="" width="500px" /></a>
    <a
      href="#"
      data-target="mobile-demo"
      class="sidenav-trigger show-on-large"
    ><i class="fas fa-bars"></i></a>

    <div class="row">
      <div class="my-container">
        <a class="my-container" href="/profile/{{user._id}}">

          <img
            class="circle-img"
            referrerpolicy="no-referrer"
            src="{{user.image}}"
            height="32"
            alt=""
          />
        </a>
        <a class="white-text" href="/auth/logout">Logout</a>
      </div>

    </div>

    <ul class="sidenav grey darken-3 white-text" id="mobile-demo">
      <img
        src="images/cover.png"
        alt=""
        width="250px"
        style="padding: 1em 1.75em"
      />
      <li><a class="white-text" href="/bands">Band List</a></li>
      <li><a class="white-text" href="/venues">Venue List</a></li>
      <li><a class="white-text" href="/dashboard">Dashboard</a></li>
      <li><a class="white-text" href="/profile/{{user._id}}">Profile</a></li>
      <li><a class="white-text" href="/auth/logout">Logout</a></li>

    </ul>

  </div>

</nav>