<h3><i class="fa-solid fa-guitar"></i>Locals Only</h3>
<div class="section">
  <p class="lead">Access a database of local bands based in the USA</p>
</div>
<div class="divider"></div>
<div class="section">
  <a href="/auth/google" class="btn orange darken-1">
    <i class="fab fa-google"></i>Log in With Google
  </a>
</div>